<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>mealServlet</servlet-name>
        <servlet-class>ru.javawebinar.topjava.web.MealServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mealServlet</servlet-name>
        <url-pattern>/meals</url-pattern>
    </servlet-mapping>
</web-app>